{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="{% static 'wtch/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'wtch/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'wtch/css/news.css' %}">
</head>

<body>
    <header class="header">
        <div class="container header-container">
            <div class="hooter">
                <div class="hooter-left">
                    <a href="#" class="hooter-logo">
                        <img src="{% static 'wtch/img/photo_2023-03-25_23-00-59.jpg' %}" alt=""
                            class="hooter-logo-text">
                    </a>
                </div>

                <div class="hooter-right">
                    <ul class="hooter-navs">
                        <a href="{% url 'main'%}" class="about-link">
                            <li id="about-uss" class="hooter-navs-text">Главная</li>
                        </a>
                        <a href="{% url 'about'%}" class="about-link">
                            <li id="about-uss" href="/about.html" class="hooter-navs-text">О нас</li>
                        </a>
                        <a href="{% url 'news'%}" class="about-link">
                            <li id="about-uss" class="hooter-navs-text">Новости</li>
                        </a>
                        <a href="" class="about-link">
                            <li id="about-uss" class="hooter-navs-text">Контакты</li>
                        </a>
                        <span class="hooter-vector-search"></span>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <section class="main-news">
        <div class="container">
            <div class="news-body">
                <div class="news-content">
                    <h1 class="news-text">NEWS</h1>
                    <div class="news-descr">
                        новое поступление в нашем магазине
                    </div>
                    <div class="news-slider">
                        <div href="#" class="news-slide-img">
                            <img src="{% static 'wtch/img/news-slide-2.jpg' %}" alt="" class="slider-photo">
                        </div>
                        <div href="#" class="news-slide-img">
                            <img src="{% static 'wtch/img/news-slide-3.jpg' %}" alt="" class="slider-photo">
                        </div>
                        <div href="#" class="news-slide-img">
                            <img src="{% static 'wtch/img/news-slide-4.jpg' %}" alt="" class="slider-photo">
                        </div>
                        <div href="#" class="news-slide-img">
                            <img src="{% static 'wtch/img/news-slide-5.jpg' %}" alt="" class="slider-photo">
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </section>

    <section class="news-box">
        <div class="container">
            <div class="box-body">
                <div class="box-title">НОВИНКИ</div>
                <div class="box-content">
                    {% for nude in nudes %}
                    <a href="" class="news-box-1">
                        <img src="{{ nude.img.url }}" alt="" class="box-img">
                        <p class="box-data">{{ nude.date }}</p>
                        <div class="box-img-title"> {{ nude.title }} </div>
                        <p class="box-descr">{{ nude.anons }}</p>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>





    <script src="{% static 'wtch/js/jquery.fancybox.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'wtch/js/slick.min.js' %}"></script>
    <script defer src="{% static 'wtch/js/news.js' %}"></script>
</body>

</html>