{% load static %}
<!DOCTYPE html>
<html>
<!-- служебная часть -->

<head>
  <!-- заголовок страницы -->
  <title>О нас</title>
  <!-- настраиваем служебную информацию для браузеров -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- загружаем Бутстрап -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style type="text/css">
    img {
      max-width: 100%;
      max-height: 100%;
    }

    h1 {
      font-size: 50px;
      margin-top: 30px;
      margin-bottom: 20px;
    }

    h2 {
      margin-top: 40px;
      margin-bottom: 20px;
    }

    p {
      font-size: 18px;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Жапалов Альхан</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <p>Я являюсь основателем бренда Wtch. </p>
        <p>Мой путь начался в 2008 году. В те времена я ремонтировал часы и даже не представлял 
            сколько лет понадобится что бы создать свой бренд.</p>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <img src="{% static 'watch/img/about_alkhan.jpeg' %}" width="375px">
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Капаев Тасполат</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <p>Я являюсь ген.директором Wtch</p>
        <p>Я в  этом бизнесе кручусь целых 4 месяца, и мне есть чем поделиться</p>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <img src="{% static 'watch/img/about_taspo.jpeg' %}" width="250px">
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Кусаинов Нурал</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <p>Я артдиректор этой компании. Очень люблю творчество</p>
        <p></p>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <img src="{% static 'watch/img/about_nural.jpeg' %}" width="375px">
      </div>
    </div>
  </div> 
  
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Абджамилов Сундет</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <p>Я финансист</p>
        <p>Оборот нашей компании за 2023 год составил 2000 тг</p>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <img src="{% static 'watch/img/about_sundet.jpeg' %}" width="375px">
      </div>
    </div>
  </div> 

  
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Контакты для связи</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>Телефон: +7 (667) 570-69-69</p>
        <p>Почта: <a href="mailto: wtch@gmail.com">wtch@gmail.com</a></p>
        <p>Скайп: perizat</p>
        <p>Телеграм: @wtchresmi</p>
      </div>
    </div>
  </div>
</body>
<!-- конец всей страницы -->

</html>